<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
  <form method="POST" action="/piglatinize">
  <p>Enter your phrase: <input type="text" name="user_phrase" placeholder="Enter a word or phrase"></p>
  <input type="submit" value="Pig Latinize">
  </form>
  </body>
</html>